<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/richtext.min.css">
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/angular/angular.min.js"></script>
	<script src="/assets/js/kendo.all.min.js"></script>
	<link rel="stylesheet" href="/assets/css/kendo.default-v2.min.css" />
	<script src="/javascripts/constants.js"></script>
	<script src="/javascripts/services.js"></script>
	<script src="/javascripts/directives.js"></script>
	<script src="/assets/js/sweetalert.min.js"></script>
	<script src="/ngdropzone/ng-dropzone.min.js"></script>
	<title>PS ADMIN</title>
</head>
<body ng-app="psAdmin" ng-cloak>
