<div class="all-content-holder">
	<aside class="sidebar-main">
		<div class="brand-logo">
			<a href="dashboard.html">
				<img src="img/user-icon.png" class="img-fluid logo-icon" alt="">
				<h5>Top Admin</h5>
			</a>
			<hr>
		</div>
		<ul class="sidebar-menu">
			<li class="active">
				<a href="dashboard.html">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					<span>Deshbord</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="cat-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="cat-list.html">
					<i class="fa fa-list-alt" aria-hidden="true"></i>
					<span>Categories</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="pp-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="pp-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Popular</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="sp-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="sp-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Special</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="tp-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="tp-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Trending </span>
				</a>
			</li>
			<hr>
			<li>
				<a href="vp-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="vp-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Variant</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="sup-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="sup-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Suppliers</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="influ-form.html" class="add-box">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</a>
				<a href="influ-list.html">
					<i class="fa fa-list" aria-hidden="true"></i>
					<span>Influencers</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="order-list.html">
					<i class="fa fa-shopping-cart " aria-hidden="true"></i>
					<span>List Orders</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="Countries-list.html">
					<i class="fa fa-flag" aria-hidden="true"></i>
					<span>Countries</span>
				</a>
			</li>
			<hr>
		</ul>
	</aside>
