<script src='/assets/js/mapbox-gl.js'></script>
<script src="/assets/js/vendor.bundle.js"></script>
<script src="/assets/js/theme.bundle.js"></script>
<script src="/ngdropzone/ng-dropzone.min.js"></script>
</body>
</html>
