<style>
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-style: none !important;
	}
</style>
<link rel="stylesheet" type="text/css" href="/assets/vendors/css/editors/quill/katex.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendors/css/editors/quill/quill.snow.css">
<link rel="stylesheet" type="text/css" href="/assets/vendors/css/editors/quill/quill.bubble.css">
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/forms/form-quill-editor.css">
<script src="/javascripts/controllers/pproducts.controller.js"></script>

<style>
	code, .dark-layout code { background-color: transparent; }
</style>


<div class="app-content content" ng-controller="PProductsController">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-2">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-left mb-0">Popular Products</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a>
								</li>
								<li class="breadcrumb-item"><a href="/pproducts">Popular Products</a>
								</li>
								<li class="breadcrumb-item active">Add / Edit Popular Products
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
				<div class="form-group breadcrumb-right">
					<div class="dropdown">
						<button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i data-feather="grid"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="app-todo.html">
								<i class="mr-1" data-feather="check-square"></i>
								<span class="align-middle">Todo</span>
							</a>
							<a class="dropdown-item" href="app-chat.html">
								<i class="mr-1" data-feather="message-square"></i>
								<span class="align-middle">Chat</span>
							</a>
							<a class="dropdown-item" href="app-email.html">
								<i class="mr-1" data-feather="mail"></i>
								<span class="align-middle">Email</span>
							</a>
							<a class="dropdown-item" href="app-calendar.html">
								<i class="mr-1" data-feather="calendar"></i>
								<span class="align-middle">Calendar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
			<section id="multiple-column-form">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Add / Edit Popular Products</h4>
							</div>
							<div class="card-body">
								<form class="form">
									<div class="row">
										<div class="col-md-5 col-12">
											<div class="form-group">
												<label for="name">Product Name</label>
												<input type="text" class="form-control" placeholder="Product Name"
													ng-model="forms.productName" required />
											</div>
										</div>
										<div class="col-md-5 col-12">
											<div class="form-group">
												<label for="category">Select Category</label>
												<select class="form-control" ng-model="forms.productCategory">
													<option value="">Select Category</option>
													<option value="AK">Alaska</option>
													<option value="HI">Hawaii</option>
												</select>
											</div>
										</div>
										<div class="col-md-2 col-12">
											<div class="user-avatar-section">
												<div class="d-flex justify-content-start">
													<img class="img-fluid rounded" src="/assets/images/avatars/7.png"
														height="104" width="104" alt="User avatar">
													<div class="d-flex flex-column ml-1">
														<div class="d-flex flex-wrap">
															<a href="./app-user-edit.html"
																class="btn btn-primary waves-effect waves-float waves-light">Edit</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="">Product Main Image</label>
												<input type="file" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="">Product Sub Image</label>
												<input type="file" class="form-control">
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0 mb-1">
										<h4 class="card-title mx-0">Product Description</h4>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div id="full-wrapper">
												<div id="full-container">
													<div class="editor"></div>
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0 mb-1">
										<h4 class="card-title mx-0">Product Links</h4>
									</div>
									<div class="row" ng-repeat="plink in productLinks">
										<div class="col-md-6">
											<div class="form-group">
												<label>Select Link</label>
												<select class="form-control" ng-model="plink.productLink">
													<option value="">~NOTHING SELECTED~</option>
													<option value="{{p.value}}" ng-repeat="p in productLinksDropDwn">
														{{p.key}}</option>
												</select>
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<label>Link</label>
												<input type="text" class="form-control" ng-model="plink.link">
											</div>
										</div>
										<div class="col-md-1">
											<div class="form-group" style="margin-top: 20px;">
												<button type="button" class="btn btn-success"
													ng-click="addProductLink()" ng-if="$index == 0">
													<i class="fas fa-plus"></i>
												</button>
												<button type="button" class="btn btn-danger"
													ng-click="removeProductLink($index)" ng-if="$index != 0">
													<i class="fas fa-times"></i>
												</button>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0 mb-1">
										<h4 class="card-title mx-0">Product Price</h4>
									</div>
									<div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Product Price Type <code>*</code></label>
													<select class="form-control" ng-model="forms.productPrice.priceType">
														<option value="">Select Product Price Type</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<label for="">Price <code>*</code></label>
												<input type="text" placeholder="Product Price" ng-model="forms.productPrice.price" class="form-control"
													required>
											</div>
											<div class="col-md-4">
												<label for="">Sales Price <code>*</code></label>
												<input type="text" placeholder="Product Sales Price" ng-model="forms.productPrice.salesPrice"
													class="form-control" required>
											</div>
											<div class="col-md-4">
												<label for="">Profit <code>*</code></label>
												<input type="text" placeholder="0.00" ng-model="forms.productPrice.profit" class="form-control" required>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0 mb-1">
										<h4 class="card-title mx-0">Product Analytics</h4>
									</div>
									<div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Source <code>*</code></label>
													<select class="form-control" ng-model="forms.productAnalytics.source" required>
														<option value="">Select Product Source</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Orders <code>*</code></label>
													<input type="text" placeholder="Number of orders" ng-model="forms.productAnalytics.nOrders"
														class="form-control" required>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Reviews <code>*</code></label>
													<input type="text" placeholder="Number of reviews" ng-model="forms.productAnalytics.nReviews"
														class="form-control" required>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Give Rating <code>*</code></label>
													<select class="form-control" ng-model="forms.productAnalytics.rating">
														<option value="">Select Rating</option>
														<option value="5">5</option>
														<option value="4">4</option>
														<option value="3">3</option>
														<option value="2">2</option>
														<option value="1">1</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0 mb-1">
										<h4 class="card-title mx-0">Product Engagement</h4>
									</div>
									<div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Like <code>*</code></label>
													<input type="text" placeholder="Number of likes" ng-model="forms.productEngagement.nLikes"
														class="form-control" required>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Comments <code>*</code></label>
													<input type="text" placeholder="Number of comments" ng-model="forms.productEngagement.nComments"
														class="form-control" required>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="">Views <code>*</code></label>
													<input type="text" placeholder="Number of views" ng-model="forms.productEngagement.nViews"
														class="form-control" required>
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0">
										<h4 class="card-title mx-0">Product Interest</h4>
									</div>
									<div class="mt-1">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<textarea class="form-control" rows="3" placeholder="Product Interest" ng-model="forms.productInterest"></textarea>
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0">
										<h4 class="card-title mx-0">Product Display Rate</h4>
									</div>
									<div class="mt-1">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Select Product Display Rate" ng-model="forms.productDisplayRate">
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0">
										<h4 class="card-title mx-0">Product Comments</h4>
									</div>
									<div class="mt-1">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<textarea class="form-control" rows="3" placeholder="Product Comments" ng-model="forms.productComments"></textarea>
												</div>
											</div>
										</div>
									</div>

									<hr style="margin-top:30px; margin-bottom: 30px;">
									<div class="card-header p-0 m-0">
										<h4 class="card-title mx-0">Product Status</h4>
									</div>
									<div class="mt-1">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select class="form-control" ng-model="forms.productStatus">
														<option value="">Product Status</option>
														<option value="active">Active</option>
														<option value="deactivate">Deactivate</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<button type="button" ng-click="onFormSubmit()" class="btn btn-primary mr-1">Save Changes</button>
											<button type="reset" class="btn btn-outline-secondary">Reset</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>