<main class="main-content">
	<header class="header">
		<h5 class="title-bar">Categories</h5>
		<div class="logout-icon">
			<ul class="d-flex">
				<li class="bell-ico"><a href="" class="fa fa-sign-out"></a></li>
			</ul>
		</div>
	</header>
	<div class="page-content">
		<div class="card">
			<div class="card-header">Categories List
				<a href="/categories/add" class="add_more_pro">Add New Category
					<i class="fa fa-plus-circle ml-3"></i>
				</a>
			</div>
			<table id="example" class="table table-bordered" style="width:100%">
				<thead>
					<tr>
						<th width="2%">No.</th>
						<th width="30%"><a href="">Category Name</a></th>
						<th width="15%">Description</th>
						<th width="5%">Status</th>
						<th width="8%">Created Date</th>
						<th width="13%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td class="tb-pro-name">
							<span>
								Sport-Optics,Hunting & Shooting
							</span>
						</td>
						<td style="white-space: pre-wrap;">
							-Sport Optics -Hunting -Outdoor & Survival -Apparel & Footwear -Eyewear -Military & Tactical
							-Police,Fire,EMS -Sports & Hobbies -Lab & Science
						</td>
						<td>
							Active
						</td>
						<td>2011/04/25</td>
						<td>
							<a href="" class="btn-icon mr-3" title="Edit Product"> <i class="fa fa-edit "> </i></a>
							<a href="" class="btn-icon" style="color:red" title="Delete Product">
								<i class="fa fa-trash "> </i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
