<style>
	.imageError {
		color: red;
	}
</style>
<script src="/javascripts/controllers/customers.controller.js"></script>
<div class="main-content" ng-controller="CustomersController">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<form class="mb-4" ng-submit="onSubmit()">
					<div class="header mt-md-5">
						<div class="header-body">
							<div class="row align-items-center">
								<div class="col">
									<h6 class="header-pretitle">
										{{(CustomerId != 0) ? 'Edit' : 'Add New' }} Customer
									</h6>
									<h1 class="header-title">
										Customer Details
									</h1>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-10">
									<ul class="nav nav-tabs nav-overflow header-tabs">
										<li class="nav-item">
											<a href="#" class="nav-link active" id="general" data-bs-toggle="tab"
												data-bs-target="#generalToggle" role="tab" aria-controls="generalToggle"
												aria-selected="true">
												General
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link" id="addresses" data-bs-toggle="tab"
												data-bs-target="#addressesToggle" role="tab"
												aria-controls="addressesToggle" aria-selected="true">
												Addresses
											</a>
										</li>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link" id="banking" data-bs-toggle="tab"
												data-bs-target="#bankingToggle" role="tab" aria-controls="bankingToggle"
												aria-selected="true">
												Banking Details
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link" id="taxes" data-bs-toggle="tab"
												data-bs-target="#taxesToggle" role="tab" aria-controls="taxesToggle"
												aria-selected="true">
												Tax Details
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link" id="markup" data-bs-toggle="tab" data-bs-target="#markupToggle" role="tab"
												aria-controls="markupToggle" aria-selected="true">
												Mark-Up Details
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link" id="discount" data-bs-toggle="tab" data-bs-target="#discountToggle" role="tab"
												aria-controls="discountToggle" aria-selected="true">
												Discount Details
											</a>
										</li>
									</ul>
								</div>
								<div class="col-2" align="right">
									<button class="btn btn-primary" type="submit">Save</button>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="generalToggle" role="tabpanel"
							aria-labelledby="generalToggle">
							<div class="row justify-content-between align-items-center">
								<div class="col">
									<div class="row align-items-center">
										<div class="col-auto">
											<div class="avatar">
												<img id="preview-image" class="avatar-img rounded-circle"
													ng-src="{{(Customer.icon!=null && Customer.icon != '') ?s3_img_url + Customer.icon:'/images/companyavtar.png'}}"
													alt="...">
											</div>
										</div>
										<div class="col ms-n2">
											<h4 class="mb-1">
												Customer Icon <small class="fe fe-help-circle text-muted"
													title="This will be used for API reference.">
												</small> <b class="text-danger">*</b>
											</h4>
											<small class="text-muted">
												PNG or JPG no bigger than 1000px wide and tall.
											</small><br />
											<span class="imageError"></span>
										</div>
									</div>
								</div>
								<div class="col-auto">
									<label for="fileupForIcon" class="btn btn-sm btn-primary">
										Upload
									</label>
									<input type="file" name="uploadfileIcon" id="fileupForIcon" style="display: none;" onchange="angular.element(this).scope().fileSelected(this)">
									<input type="hidden" name="uploadfileIconExt" id="hiddenfileext">
									<input type="hidden" name="hiddenIcon" id="hiddenIconid" value="">
								</div>
							</div>
							<hr class="mt-5 mb-5">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											Company Name <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Customer Company Name" ng-model="Customer.companyname">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											Telephone Number <small class="fe fe-help-circle text-muted"  title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your Telephone Number"
											ng-model="Customer.phone">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group" style="margin-left: 26px;">
										<label class="form-label">
											Select Customer Type <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<div class="btn-group-toggle">
											<span ng-repeat="type in customerTypes">
												<input type="radio" class="btn-check" name="options" id="option{{$index}}" autocomplete="off" ng-click="CustomerTypeChange(type._id)" ng-checked="type.selected">
												<label class="btn btn-white" for="option{{$index}}">
													<i class="fe fe-layers"></i> {{type.customertype}}
												</label>
											</span>
										</div>
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											First Name <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your First Name" ng-model="CustomerAdmin.firstname">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											Last Name <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your Last Name" ng-model="CustomerAdmin.lastname">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											E-mail <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="email" class="form-control" placeholder="Enter Your Email" ng-model="CustomerAdmin.email">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label class="form-label">
											Mobile Number <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your Mobile Number" ng-model="CustomerAdmin.mobile">
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3">
							<div class="row">
								<div class="col-12 col-md-10">
									<div class="form-group">
										<label class="form-label">
											Referral Code <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Referral Code Goes Here..." ng-model="Customer.raferalcode">
									</div>
								</div>
								<div class="col-12 col-md-2">
									<div class="form-group">
										<label class="form-label mb-1">
											Active <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<div class="form-check form-switch">
											<input class="form-check-input" id="switchOne" type="checkbox" ng-model="Customer.status">
											<label class="form-check-label" for="switchOne"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="addressesToggle" role="tabpanel"
							aria-labelledby="addressesToggle">
							<div class="row">
								<div class="col-12 col-md-6">
									<h3>Saved Addresses</h3>
									<div class="card" ng-repeat="address in Customer.addresses">
										<div class="card-header">
											<h4 class="card-header-title me-auto">
												{{address.locationname}}
											</h4>
											<div class="dropdown">
												<a href="#" class="dropdown-ellipses dropdown-toggle" role="button"
													data-bs-toggle="dropdown" aria-haspopup="true"
													data-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<button type="button" ng-click="editAddressData($index);"
														class="dropdown-item">Edit</button>
													<button type="button" ng-click="deleteAddressData($index);"
														class="dropdown-item">Delete</button>
												</div>
											</div>
										</div>
										<div class="card-body">
											<address class="card-text">
												{{address.address}}, <br>
												{{address.city}},
												{{address.district}},
												{{address.state}}, <br>
												{{address.country}}
												{{address.pincode}}
											</address>
										</div>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<h3>Add New</h3>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label class="form-label">
													Location Name <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="Location Name"
													ng-model="Addresses.locationname">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12 col-md-12">
											<div class="form-group">
												<label class="form-label">
													Address <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<textarea type="text" class="form-control"
													placeholder="Location Address"
													ng-model="Addresses.address"></textarea>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12 col-md-4">
											<div class="form-group">
												<label class="form-label">
													City <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="City"
													ng-model="Addresses.city">
											</div>
										</div>

										<div class="col-12 col-md-4">
											<div class="form-group">
												<label class="form-label">
													District <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="District"
													ng-model="Addresses.district">
											</div>
										</div>

										<div class="col-12 col-md-4">
											<div class="form-group">
												<label class="form-label">
													Pincode <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="Pin-code"
													ng-model="Addresses.pincode">
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label class="form-label">
													State <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="State / Provience"
													ng-model="Addresses.state">
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group">
												<label class="form-label">
													Country <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="Country"
													ng-model="Addresses.country">
											</div>
										</div>
									</div>

									<hr class="my-3">
									<button class="btn w-100 btn-primary" type="button" ng-click="onNewAddress()">Save
										Address</button>
									<button class="btn w-100 btn-link text-muted mt-2" type="button"
										ng-click="onClearAddress()">Cancel</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="bankingToggle" role="tabpanel" aria-labelledby="bankingToggle">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Account Name <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Account Holder Name"
											ng-model="Customer.bank.accountname">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Bank Name <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Bank Name"
											ng-model="Customer.bank.bankname">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Account Number <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="01XXXXXXXXX789"
											ng-model="Customer.bank.accountnumber">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											IFSC <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="ABCXXX789"
											ng-model="Customer.bank.ifscnumber">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Branch <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Branch Name"
											ng-model="Customer.bank.bankbranchname">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											PAN Card Number <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="PAN Card Number"
											ng-model="Customer.bank.pannumber">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-12">
									<div class="form-group">
										<label class="form-label">
											Bank Key <small class="fe fe-help-circle text-muted"
												data-bs-toggle="tooltip" data-bs-placement="right"
												title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Bank Key"
											ng-model="Customer.bank.bankkey">
									</div>
								</div>
							</div>
							<hr class="mt-5 mb-5">
						</div>
						<div class="tab-pane fade" id="taxesToggle" role="tabpanel" aria-labelledby="taxesToggle">
							<div class="row">
								<div class="col-12 col-md-6">
									<h3>Saved GST Details</h3>
									<div class="card" ng-repeat="tax in Customer.taxes">
										<div class="card-header">
											<h4 class="card-header-title me-auto">
												{{tax.placename}}
											</h4>
											<div class="dropdown">
												<a href="#" class="dropdown-ellipses dropdown-toggle" role="button"
													data-bs-toggle="dropdown" aria-haspopup="true"
													data-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<button type="button" ng-click="editTaxData($index);"
														class="dropdown-item">Edit</button>
													<button type="button" ng-click="deleteTaxData($index);"
														class="dropdown-item">Delete</button>
												</div>
											</div>
										</div>
										<div class="card-body">
											<address class="card-text">
												GST - {{tax.gst}}
											</address>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<h3>Add New</h3>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label class="form-label">
													Place Name <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="Place Name"
													ng-model="Taxes.placename">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label class="form-label">
													GST Number <small class="fe fe-help-circle text-muted"
														data-bs-toggle="tooltip" data-bs-placement="right"
														title="This will be used for API reference.">
													</small> <b class="text-danger">*</b>
												</label>
												<input type="text" class="form-control" placeholder="ABCXXXXXXXXXX012"
													ng-model="Taxes.gst">
											</div>
										</div>
									</div>
									<hr class="my-3">
									<button class="btn w-100 btn-primary" type="button" ng-click="onNewTax()">Save
										Tax</button>
									<button class="btn w-100 btn-link text-muted mt-2" type="button"
										ng-click="onClearTax()">Cancel</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="markupToggle" role="tabpanel" aria-labelledby="taxesToggle">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Over-All Mark-Up <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your First Name" ng-model="Customer.overallmarkup">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Link Based Mark-Up <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your First Name" ng-model="Customer.linkbasemarkup">
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3">
							<div class="row">
								<div class="col-12 col-md-8">
									<div class="form-group">
										<label class="form-label">
											Category Based Mark-Up <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<small class="form-text text-muted">
											You can set markup for each categories as you like. (Mark-up value between 0 to 100 as %)
										</small>
									</div>
								</div>
								<div class="col-12 col-md-4" style="text-align: right;">
									<button ng-click="addCategorybasedMarkup()" type="button" class="btn btn-sm btn-rounded-circle btn-primary ms-2"><i class="fe fe-plus"></i></button>
								</div>
							</div>
							<div class="row" ng-repeat="localcmarkup in localCategoryMarkup">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<select kendo-drop-down-list k-options="customOptions" k-ng-model="localcmarkup.categoryid" placeholder="Please Select Category" style="width: 100%;"></select>
										<!-- <select class="form-select selectpicker" ng-model="localcmarkup.categoryid" placeholder="Please Select Category" data-live-search="true">
											<option value="">Please Select Category</option>
											<option ng-repeat="category in Categorylist" value="{{category.itemId}}">
												{{category.displayname}}</option>
										</select> -->
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" ng-model="localcmarkup.markup" placeholder="Markup Value">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="discountToggle" role="tabpanel" aria-labelledby="discountToggle">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Over-All Discount <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your First Name" ng-model="Customer.overalldiscount">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label class="form-label">
											Link Based Discount <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<input type="text" class="form-control" placeholder="Enter Your First Name" ng-model="Customer.linkbasediscount">
									</div>
								</div>
							</div>
							<hr class="mt-3 mb-3">
							<div class="row">
								<div class="col-12 col-md-8">
									<div class="form-group">
										<label class="form-label">
											Category Based Discount <small class="fe fe-help-circle text-muted" data-bs-toggle="tooltip"
												data-bs-placement="right" title="This will be used for API reference.">
											</small> <b class="text-danger">*</b>
										</label>
										<small class="form-text text-muted">
											You can set discount for each categories as you like. (Discount value between 0 to 100 as %)
										</small>
									</div>
								</div>
								<div class="col-12 col-md-4" style="text-align: right;">
									<button ng-click="addCategorybasedDiscount()" type="button"
										class="btn btn-sm btn-rounded-circle btn-primary ms-2"><i class="fe fe-plus"></i></button>
								</div>
							</div>
							<div class="row" ng-repeat="localcdiscount in localCategoryDiscount">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<select kendo-drop-down-list k-options="customOptions" k-ng-model="localcdiscount.categoryid" placeholder="Please Select Category" style="width: 100%;"></select>
										<!-- <select class="form-select" ng-model="localcdiscount.categoryid" placeholder="Please Select Category">
											<option value="">Please Select Category</option>
											<option ng-repeat="category in Categorylist" value="{{category.itemId}}">
												{{category.displayname}}</option>
										</select> -->
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" ng-model="localcdiscount.discount" placeholder="Attribute Value">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
