<style>
	ul.header-tabs li.nav-item a {
		cursor: pointer;
	}
</style>
<div class="main-content">
	<div class="header">
		<div class="container-fluid">
			<div class="header-body mt-n5">
				<div class="row align-items-center">
					<div class="col">

						<ul class="nav nav-tabs nav-overflow header-tabs d-inline-flex" role="tablist">
							<li class="nav-item">
								<a href="#" class="nav-link active" id="kanbanColumns1Toggle" data-bs-toggle="tab"
									data-bs-target="#kanbanColumnsToggle1" role="tab"
									aria-controls="kanbanColumnsToggle1" aria-selected="true">
									Company Details
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="kanbanColumns2Toggle" data-bs-toggle="tab"
									data-bs-target="#kanbanColumnsToggle2" role="tab"
									aria-controls="kanbanColumnsToggle2" aria-selected="true">
									Company Address
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="kanbanColumns3Toggle" data-bs-toggle="tab"
									data-bs-target="#kanbanColumnsToggle3" role="tab"
									aria-controls="kabbakanbanColumnsToggle3nColumns" aria-selected="true">
									Bank Details
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="kanbanColumns4Toggle" data-bs-toggle="tab"
									data-bs-target="#kanbanColumnsToggle4" role="tab"
									aria-controls="kanbanColumnsToggle4" aria-selected="true">
									Tax Details
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="kanbanColumnsToggle1" role="tabpanel"
						aria-labelledby="kanbanColumnsToggle1Toggle">
						<div class="container-fluid">
							<div class="row">
								<h1>kanbanColumnsToggle1</h1>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="tab-pane fade" id="kanbanColumnsToggle2" role="tabpanel"
						aria-labelledby="kanbanColumnsToggle2Toggle">
						<div class="container-fluid">
							<div class="row">
								<h1>kanbanColumnsToggle2</h1>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="tab-pane fade" id="kanbanColumnsToggle3" role="tabpanel"
						aria-labelledby="kanbanColumnsToggle3Toggle">
						<div class="container-fluid">
							<div class="row">
								<h1>kanbanColumnsToggle3</h1>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="tab-pane fade" id="kanbanColumnsToggle4" role="tabpanel"
						aria-labelledby="kanbanColumnsToggle4Toggle">
						<div class="container-fluid">
							<div class="row">
								<h1>kanbanColumnsToggle4</h1>
							</div> <!-- / .row -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
