<!DOCTYPE html>
<html>
<head>
    <%-include('head')%>
</head>
<body>
    <div class="all-content-holder">
        <%-include('sidebar')%> 
  	    <main class="main-content">
  	 	    <header class="header">
                <h5 class="title-bar">Dashboard</h5>
                <div class="logout-icon">
                    <ul class="d-flex">
                        <li class="bell-ico"><a href=""class="fa fa-sign-out"></a></li>
                    </ul>
                </div>
            </header>
            <div class="page-content">
                <div class="analytics-content">
                    <ul class="nav nav-tabs" role="tablist">
                        <li  class="nav-item"><a data-toggle="tab" class="nav-link active" href="#products_tab">Products</a></li>
                        <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#nicheproducts_tab">Niche Products</a></li>
                        <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#supplier_tab">Supplier</a></li>
                        <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#influencer_tab">Influencer</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="products_tab" class="tab-pane active">
                            <div class="card mb-3">
                                <div class="card-header">Products Types <span class="ml-auto tt-count">Total Products: <strong id="total_products_id"> 0+</strong></span></div>
                                <div class="card-body">
                                    <div class="count-row"> 
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Popular Products
                                            </div>
                                            <div class="count-dgt">
                                                <span id="popular_products_past_id">0</span>
                                                <span class="count4panding" id="popular_products_future_id">0</span>
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Special Products
                                            </div>
                                            <div class="count-dgt">
                                                <span id="special_products_past_id">0</span>
                                                <span class="count4panding" id="special_products_future_id">0</span>
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Trending Products
                                            </div>
                                            <div class="count-dgt">
                                                <span id="trending_products_past_id">0</span>
                                                <span class="count4panding" id="trending_products_future_id">0</span>
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Variant Products
                                            </div>
                                            <div class="count-dgt">
                                                <span id="variant_products_past_id">0</span>
                                                <span class="count4panding" id="variant_products_future_id">0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card all-mix-count">
                                <div class="card-header">Products By Category <span class="ml-auto tt-count">Total Categories: <strong id="total_number_of_category_id"> 0</strong></span></div>
                                <div class="card-body">
                                    <div class="count-row" id="category_holder_id"> 
                                    </div>
                                </div>
                            </div>
                            <div class="card all-mix-count all-ctry-count">
                                <div class="card-header">Products By Countries <span class="ml-auto tt-count">Total Countries: <strong id="total_number_of_country_id"> 0</strong></span></div>
                                <div class="card-body">
                                    <div class="count-row" id="country_holder_id"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="nicheproducts_tab" class="tab-pane fade">
                            <div class="card mb-3">
                                <div class="card-header">Niche Orders <span class="ml-auto tt-count">Total Order: <strong> 3</strong></span></div>
                                <div class="card-body">
                                    <div class="count-row"> 
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-shopping-cart"></i>
                                                Orders
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-shopping-cart"></i>
                                                Paid Orders
                                            </div>
                                            <div class="count-dgt">
                                                3
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-shopping-cart"></i>
                                                InProgress Orders
                                            </div>
                                            <div class="count-dgt">
                                                0
                                            </div>
                                        </div>
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-shopping-cart"></i>
                                                Completed Orders
                                            </div>
                                            <div class="count-dgt">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="supplier_tab" class="tab-pane fade">
                            <div class="card mb-3">
                                <div class="card-header">Suppliers </div>
                                <div class="card-body">
                                    <div class="count-row"> 
                                        <div class="count-item col-md-6">
                                            <div class="count-name">
                                                <i class="fa fa-users"></i>
                                                Total Suppliers
                                            </div>
                                            <div class="count-dgt">
                                                400
                                            </div>
                                        </div>
                                        <div class="count-item col-md-6">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Supplier Products
                                            </div>
                                            <div class="count-dgt">
                                                400
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card all-mix-count sup-cat-card">
                                <div class="card-header">Supplier Categories <span class="ml-auto tt-count">Total Categories: <strong> 28</strong></span></div>
                                <div class="card-body">
                                    <div class="count-row"> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Apparel / Clothing
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Apparel / Clothing
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Art & Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Wholesale
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Baby Items
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Cell Phone Accessories
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Fashion Accessories
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Electronics
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Food & Grocery
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Gifts
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Handbags & Luggage
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Health, Beauty & Wellness
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Housewares / Home Decor
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Jewellery
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Leather
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Novelties
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Office & School Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Perfume
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Pet Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Shoes & Footwear
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Sunglasses & Eyewear
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Tools & Hardware
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Toys & Hobbies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Watches
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Dropshippers
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Computer Products
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                COVID-19 Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div> 
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Crafts & Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div>
                                        <div class="count-item col-md-3 mb-3">
                                            <div class="count-name">
                                                <i class="fa fa-product-hunt"></i>
                                                Automotive Parts & Supplies
                                            </div>
                                            <div class="count-dgt">
                                                17
                                            </div>
                                            <span class="c4p-row">
                                                <span class="count4panding">
                                                    <strong>Supplier with Product</strong>
                                                    5
                                                </span>
                                                <span class="count4panding">
                                                    <strong>Total Products</strong>
                                                    50
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="influencer_tab" class="tab-pane fade">
                            <div class="card mb-3">
                                <div class="card-header">Influencer </div>
                                <div class="card-body">
                                    <div class="count-row"> 
                                        <div class="count-item col-md-3">
                                            <div class="count-name">
                                                <i class="fa fa-male"></i>
                                                Total Influencer
                                            </div>
                                            <div class="count-dgt">
                                                100
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  	    </main>
    </div>
    <%-include('footer')%> 
</body>
</html>
<script>
    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: "/main/getProductsanalytics",
            dataType: 'json',
            context: document.body,
            global: false,
            async: true,
            success: function(data) {
                $('#total_products_id').html(data.total.total_products);
                $('#popular_products_past_id').html(data.total.TotalCommonProducts_past);
                $('#popular_products_future_id').html(data.total.TotalCommonProducts_future);
                $('#special_products_past_id').html(data.total.TotalSpecialProducts_past);
                $('#special_products_future_id').html(data.total.TotalSpecialProducts_future);
                $('#trending_products_past_id').html(data.total.TotalTrendingProducts_past);
                $('#trending_products_future_id').html(data.total.TotalTrendingProducts_future);
                $('#variant_products_past_id').html(data.total.TotalVeriantsProducts_past);
                $('#variant_products_future_id').html(data.total.TotalVeriantsProducts_future);
            }
        });
        $.ajax({
            type: 'GET',
            url: "/main/getProductsanalyticsbycategory",
            dataType: 'json',
            context: document.body,
            global: false,
            async: true,
            success: function(result) {
                if (!jQuery.isEmptyObject(result.categories)) {
                    $('#category_holder_id').empty();
                    $('#category_holder_id').html('');
                    var code = '';
                    var i = 0;
                    $.each(result.categories, function(index, value) {
                        code += '<div class="count-item col-md-4 mb-3">'+
                                    '<div class="count-name"><i class="fa fa-product-hunt"></i> '+value.category_name+'</div>'+
                                    '<div class="count-dgt">'+parseInt(value.common_products+value.special_products+value.trending_products+value.veriant_products)+'</div>'+
                                    '<span class="c4p-row">'+
                                        '<span class="count4panding"><strong>PP.</strong> '+value.common_products+'</span>'+
                                        '<span class="count4panding"><strong>SP.</strong> '+value.special_products+'</span>'+
                                        '<span class="count4panding"><strong>TP.</strong> '+value.trending_products+'</span>'+
                                        '<span class="count4panding"><strong>VP.</strong> '+value.veriant_products+'</span>'+
                                    '</span>'+
                                '</div>';
                        i++;        
                    });
                    $('#total_number_of_category_id').html(i);
                    $('#category_holder_id').append(code);
                }  
            }
        });
        $.ajax({
            type: 'GET',
            url: "/main/getProductsanalyticsbycountry",
            dataType: 'json',
            context: document.body,
            global: false,
            async: true,
            success: function(result) {
                if (!jQuery.isEmptyObject(result.contries)) {
                    $('#country_holder_id').empty();
                    $('#country_holder_id').html('');
                    var code = '';
                    var i = 0;
                    $.each(result.contries, function(index, value) {
                        code += '<div class="count-item col-md-3 mb-3">'+
                                    '<div class="count-name"><i class="fa fa-product-hunt"></i> '+value.country_name+'</div>'+
                                    '<div class="count-dgt">'+parseInt(value.special_products+value.trending_products+value.veriant_products)+'</div>'+
                                    '<span class="c4p-row">'+
                                        '<span class="count4panding"><strong>SP.</strong> '+value.special_products+'</span>'+
                                        '<span class="count4panding"><strong>TP.</strong> '+value.trending_products+'</span>'+
                                        '<span class="count4panding"><strong>VP.</strong> '+value.veriant_products+'</span>'+
                                    '</span>'+
                                '</div>';
                        i++;        
                    });
                    $('#total_number_of_country_id').html(i);
                    $('#country_holder_id').append(code);
                }  
            }
        });
    });
</script>
